.completion-bar {
    padding: 10px;
    display: flex;  
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 3px;
}

.check {
    color: #2f2f2f;
    margin-right: 25px;
}

.completion-text {
    margin-top: 6px;
}