.description {
    padding: 10px;
    display: flex;  
    font-weight: 600;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 3px;
}

.icon {
    color: #bab8a3;
    margin-right: 20px;
}