.modal {
    position: relative;
    width: 40%;
    height: 30%;
    top: 30%;
    border-radius: 30px;
    padding: 30px;
    background-color: papayawhip;
    margin: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(9, 24, 26, 0.3);
}