/* Colors: 
  White: #f4f1de
  Red: #e07a5f
  Dark indigo: #121429
  Light green: #81b29a
  brown kind of: #ceb48a
  Dark gray: #2f2f2f
*/


body {
  background-color: #51433f; /* Set the background color for the entire webpage */
}

.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.app-content{
  margin-top: 120px;
}