/* Colors: 
  White: #f4f1de
  Red: #e07a5f
  Dark indigo: #3d405b
  Light green: #81b29a
  Yellow: #ddb575
  Dark gray: #2f2f2f
*/


body {
  background-color: #2f2f2f; /* Set the background color for the entire webpage */
}

.App {
  text-align: center;
  margin: 20px;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 28px; /* Increase font size for the header */
  margin-bottom: 20px;
  color: #f4f1de; /* Darken the header text color */
}